<% if user_signed_in? %>
  <h3><%= current_user.username.capitalize %>'s List</h3>

  <div class='container'>
    <div class='row'>
      <div class='new-item'>
        <%= render 'items/form', collection: @items  %>
      </div>
      <% @items.each do |item| %>
        <div class='js-items'>
          <%= render partial: 'items/items', locals: { item: item } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
