<% if user_signed_in? %>
  <h3><%= current_user.username.capitalize %>'s List</h3>

  <div class='container'>
    <div class='row'>
      <%= render partial: 'items/form', locals: { new_item: @new_item } %>
      <div class='items'>
          <itemslist :items="<%= @items.to_json %>" :data="<%= @items.to_json %>"></itemslist>
      </div>
    </div>
  </div>
<% end %>
