<% if user_signed_in? %>
  <h3><%= current_user.username.capitalize %>'s List</h3>

  <div class='container'>
    <div class='row'>
        <%= render 'items/form' %>
      <% @items.each do |item| %>
        <div id="task-form">
          <%= render partial: 'items/items', locals: { item: item } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
