<div class="jumbotron">
  <h1 class="display-4">Bloccitoff</h1>
  <p class="lead">A self-destructing to-do app to keep you on track and on time!</p>
  <hr class="my-4">
  <p>Just create an account, enter your to-do items and you have 7 days before they self-destruct.</p>
  <p class="lead">
    <%= link_to "Sign In", new_user_session_url, class:"btn btn-primary" %> <optgroup label="">
    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>  
    </optgroup>
  </p>
</div>
