 <div class='col'>
    <%= form_for [current_user, @new_item] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter item" %>
        <div class="form-group">
        <br>
        <%= f.submit "Save", class: 'btn btn-primary' %>
      </div>
    <% end -%>
  </div>
